<%= form_with model: [ commentable, Comment.new ] do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, required: true %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
