<h1><%= t('.title') %></h1>

<%= render "form", book: @book %>

<br>

<div>
  <nav class="page-nav">
    <%= link_to t('views.actions.back_to_list', model: Book.model_name.human), books_path %>
  </nav>
</div>
